{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="alert-container contained">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</div>
<form method="post" style="min-height: 50vh">

    <div class="contained contained-y login">
        <h1 class="login-title">Se connecter</h1>

        <div class="form-group">
            <div class="form-field">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputEmail" class="form-label">Email</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label for="inputPassword" class="form-label">Password</label>
            </div>
        </div>

        <div class="g-recaptcha" data-sitekey={{ google_recaptcha_site_key }}></div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="button" type="submit">
            Se connecter
        </button>
    </div>
</form>
{% endblock %}
