{% extends "base.html.twig" %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div style="margin-left: 36px; margin-right: 36px">
        <h1 class="contact-title">Une question ?<br />Vous souhaitez réserver ?</h1>
        <ul>
            <li class="contact-information-item">
                <a href="tel:0612345678" class="contact-information-link">
                    <i class="material-icons">phone</i>
                    (+33) 612 345 678
                </a>
            </li>
            <li class="contact-information-item">
                <a href="#" class="contact-information-link">
                    <i class="material-icons">mail</i>
                    9 grand rue, <br />68750 Bergheim
                </a>
            </li>
            <li class="contact-information-item">
                <a href="#" class="contact-information-link">
                    <i class="material-icons">thumb_up</i>
                    Notre Facebook
                </a>
            </li>
        </ul>
    </div>

    <div style="margin-left: 36px; margin-right: 36px" class="contact-form-wrapper">
        <form action="#" method="post">
            <div class="form-group">
                <div class="form-field">
                    <input type="text" class="form-control" id="name">
                    <label for="name" class="form-label">Nom</label>
                    <div class="form-strip"></div>
                </div>

                <span class="form-error">Hello i'm an error</span>
            </div>

            <div class="form-group">
                <div class="form-field">
                    <input type="text" class="form-control" id="first_name">
                    <label for="first_name" class="form-label">Prénom</label>
                    <div class="form-strip"></div>
                </div>

                <span class="form-error">Hello i'm an error</span>
            </div>

            <div class="form-group">
                <div class="form-field">
                    <input type="text" class="form-control" id="email">
                    <label for="email" class="form-label">Email</label>
                    <div class="form-strip"></div>
                </div>

                <span class="form-error">Hello i'm an error</span>
            </div>

            <div class="form-group">
                <div class="form-field">
                    <input type="text" class="form-control" id="phone">
                    <label for="phone" class="form-label">Téléphone</label>
                    <div class="form-strip"></div>
                </div>

                <span class="form-error">Hello i'm an error</span>
            </div>
        </form>
    </div>
{% endblock %}
