{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="title title-1">{%  trans  %}Title 1{%  endtrans  %}</h1>
    <h2 class="title title-2">Title 2</h2>
    <h3 class="title title-3">Title 3</h3>
    <h4 class="title title-4">Title 4</h4>
    <h5 class="title title-5 bold">Title 5</h5>
    <h6 class="title title-6">Title 6</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at aut, autem, delectus doloremque dolores ea ex fugiat iusto mollitia, odio quos vitae. Atque commodi consequuntur ipsam nobis tempora vel?</p>
    <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda beatae doloribus ea facere fugit ipsum labore laborum, maiores minima modi nobis odio perferendis perspiciatis, possimus quas qui unde velit?</p>
{% endblock %}
