{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
        }

        .header::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,0));
        }
    </style>
{% endblock %}

{% block body %}
    <div class="landing">
        <img src="{{ asset('build/images/cour.jpg') }}" alt="Portail d'entrée de Chez Norbert" class="landing-img">

        <div class="landing-container">
            <h1 class="landing-title">Un lieu paisible au cœur du vignoble, une maison de charme alsacienne.</h1>
            <a href="#" class="button landing-button">Découvrez Chez Norbert</a>
        </div>
    </div>
{% endblock %}
