{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
        }

        .header::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,0));
        }
    </style>
{% endblock %}

{% block body %}
    <div class="landing">
        <img src="{{ asset('build/images/cour.jpg') }}" alt="Portail d'entrée de Chez Norbert" class="landing-img">

        <div class="landing-container">
            <h1 class="landing-title">Un lieu paisible au cœur du vignoble, une maison de charme alsacienne.</h1>
            <a href="#" class="button landing-button">Découvrez Chez Norbert</a>
        </div>
    </div>

    <div class="alsace">
        <h1 class="alsace-title">Au cœur de l'Alsace</h1>

        <div>
            <p>Au gré de la route des vins, non loin de Colmar, tout près de Ribeauvillé, le petit village de Bergheim abrite une ancienne demeure viticole de charme qui saura vous ravir.</p>
            <p>Chez Norbert, longtemps reconnu pour son hôtel-restaurant fait peau neuve en proposant désormais des gîtes et des chambres d'hôtes.</p>
            <p>Commencez bien votre matinée dans le salle petit-déjeuner avec des produits locaux et terminez la journée autour d'un verre sur la terrasse.</p>
        </div>

        <div>
            <a href="#" class="button button-outline alsace-button">Nos gîtes</a>
            <a href="#" class="button button-outline alsace-button">Nos chambres d'hôtes</a>
        </div>
    </div>
{% endblock %}
