@import "./components/reset/index.scss";
@import "./components/typography/mixins";
@import "./components/spacing/mixins";
@import "./components/header/mixins";
@import "./components/text-fields/mixins";
@import "./components/button/mixins";
@import "./components/sass-librairies";
@import "./components/header-nav/mixins";
@import "./components/footer/mixins";
@import "./components/spacing/functions";

@include reset;

/*
==================================================
    /Typography rules
==================================================
*/
body {
    @include body-1;
}

.title {
    @include margin-top(100);
    @include margin-bottom(125);
}

.title-1 {
    @include title-1;
}

.title-2 {
    @include title-2;
}

.title-3 {
    @include title-3;
}

.title-4 {
    @include title-4;
}

.title-5 {
    @include title-5;
}

.title-6 {
    @include title-6;
}

.subtitle-1 {
    @include subtitle-1;
}

.subtitle-2 {
    @include subtitle-2;
}

.bold {
    @include bold;
}

p {
    @include body-1;
    @include margin-y(200);
}

.body-2 {
    @include body-2;
}

/*
==================================================
    /Header component
==================================================
*/
.header {
    @include header;
    @include header-compact;

    &-brand {
        @include brand;
        @include title-5;
    }

    &-hamburger {
        @include hamburger;
    }
}

/*
==================================================
    /Header nav component
==================================================
*/
.header-nav {
    @include header-nav;
}

.nav-list {
    @include nav-list;
}

.nav-link {
    @include nav-link;
}

.nav-list-item-spaced {
    @include body-fz-2;
    margin-top: get-spacing(200);
}

/*
==================================================
    /Contact page
==================================================
*/
.contact-title {
    @include title-5;
    @include margin-top(200);
    @include margin-bottom(125);
}

.contact-information-item {
    @include button;
    color: #000;

    &:nth-of-type(2) {
        @include margin-y(100);
    }
}

.contact-information-link {
    display: inline-flex;
    align-items: center;

    & > .material-icons {
        @include margin-right(125);
    }
}

.contact-form-wrapper {
    @include title-fz-5;
    @include margin-y(200);

    & > form {
        font-size: 1rem;
    }
}

/*
==================================================
    /Inputs
==================================================
*/
.form-field {
    @include form-field;
}

.form-control {
    @include form-control ('.form-label', '.form-strip');
}

.form-label {
    @include form-label;
}

.form-strip {
    @include form-strip;
}

.form-error {
    @include form-error;
}

.form-group {
    @include body-fz-1;
    @include margin-bottom(100);
}

/*
==================================================
    /Button
==================================================
*/
.button {
    @include button-widget;
    @include button;
}

.button-outline {
    @include button-outline-widget;
    @include button;
}

/*
==================================================
    /Footer
==================================================
*/
.footer {
    @include footer;
}

.footer-brand {
    @include footer-brand;
}

.footer-brand-container {
    @include footer-brand-container;
}

.footer-slogan {
    @include footer-slogan;
}

.footer-nav {
    @include footer-nav;
}

.footer-link {
    @include footer-link;
}

.footer-nav-list {
    @include body-fz-1;
}

.footer-nav-item {
    @include footer-nav-item;
}

/*
==================================================
    /Layout
==================================================
*/
.contained {
    padding-left: get-contained-side-spacing();
    padding-right: get-contained-side-spacing();
}


/*
==================================================
    /Home page
==================================================
*/
.landing {
    min-height: 80vh;
    position: relative;

    display: flex;
    align-items: center;
}

.landing-img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.landing-container {
    padding: 0 get-contained-side-spacing('xs');
}

.landing-title {
    @include title-5;
    margin-bottom: get-spacing(125);

    align-items: center;
    color: #fff;
    text-align: center;
    text-shadow: rgba(0,0,0,.1) 0 0 20px;
}

.landing-button {
    padding-left: 1.3em;
    padding-right: 1.3em;
}

.alsace {
    padding: 0 get-contained-side-spacing('xs');
}

.alsace-title {
    @include title-4;
    margin-top: get-spacing(200);
    margin-bottom: get-spacing(150);
}

.alsace-button {
    width: 100%;
    margin-bottom: get-spacing(100);

    &:last-of-type {
        margin-bottom: get-spacing(200);
    }
}