@import "./components/reset/index.scss";
@import "./components/typography/mixins";
@import "./components/spacing/mixins";
@import "./components/header/mixins";
@import "./components/text-fields/mixins";

@import "./components/sass-librairies";

@include reset;

/*
==================================================
    /Typography rules
==================================================
*/
body {
    @include body-1;
}

.title {
    @include margin-top(100);
    @include margin-bottom(125);
}

.title-1 {
    @include title-1;
}

.title-2 {
    @include title-2;
}

.title-3 {
    @include title-3;
}

.title-4 {
    @include title-4;
}

.title-5 {
    @include title-5;
}

.title-6 {
    @include title-6;
}

.subtitle-1 {
    @include subtitle-1;
}

.subtitle-2 {
    @include subtitle-2;
}

.bold {
    @include bold;
}

p {
    @include body-1;
    @include margin-y(200);
}

.body-2 {
    @include body-2;
}

/*
==================================================
    /Header component
==================================================
*/
.header {
    @include header;
    @include header-compact;

    &-brand {
        @include brand;
        @include title-5;
    }

    &-hamburger {
        @include hamburger;
    }
}

/*
==================================================
    /Contact page
==================================================
*/
.contact-title {
    @include title-5;
    @include margin-top(200);
    @include margin-bottom(125);
}

.contact-information-item {
    @include button;
    color: #000;

    &:nth-of-type(2) {
        @include margin-y(100);
    }
}

.contact-information-link {
    display: inline-flex;
    align-items: center;

    & > .material-icons {
        @include margin-right(125);
    }
}

.contact-form-wrapper {
    @include title-fz-5;
    @include margin-y(200);

    & > form {
        font-size: 1rem;
    }
}

/*
==================================================
    /Inputs
==================================================
*/
.form-field {
    @include form-field;
}

.form-control {
    @include form-control ('.form-label', '.form-strip');
}

.form-label {
    @include form-label;
}

.form-strip {
    @include form-strip;
}

.form-error {
    @include form-error;
}