@import "./components/spacing/functions";
@import "./components/footer/mixins";

/*
==================================================
    /Layout
==================================================
*/
.contained {
  padding-left: get-contained-side-spacing('md');
  padding-right: get-contained-side-spacing('md');
}

.hidden-md {
  display: none;
}

/*
==================================================
    /Footer
==================================================
*/
.footer-brand-container {
  @include footer-brand-container-md;
}
