/*
==================================================
    /Contact page
==================================================
*/
.contact-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.map, .contact-content-wrapper {
  flex: 1;
}
