/*
==================================================
    /Contact page
==================================================
*/
.contact-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.contact-form {
  width: 100%;
}

.map, .contact-content-wrapper {
  flex: 1;
}

.map {
  min-height: 100vh;
}

.contact-content-wrapper {
  margin-top: 80px;
}