{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}

    <div class="contained contained-y login">
        <h1 class="login-title">Création de l'admin</h1>


        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="button" type="submit">
            Créer
        </button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
