@import "./variables.scss";

@mixin title-1 {
  font-size: 6rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin title-2 {
  font-size: 3.75rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin title-3 {
  font-size: 3rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin title-4 {
  font-size: 2.125rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin title-5 {
  font-size: 1.5rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin title-6 {
  font-size: 1.25rem;
  color: $base-title-font-color;
  font-family: $title-font-family;
}

@mixin subtitle-1 {
  font-family: $body-font-family;
  font-size: 1rem;

  color: $base-body-font-color;
}

@mixin subtitle-2 {
  font-family: $body-font-family;
  font-size: .875rem;
  font-weight: 500;

  color: $base-body-font-color;
}

@mixin body-1 {
  font-family: $body-font-family;
  font-size: 1rem;

  color: $base-body-font-color;
}

@mixin body-2 {
  font-family: $body-font-family;
  font-size: .875rem;

  color: $base-body-font-color;
}

@mixin button {
  font-family: $body-font-family;
  font-weight: 500;
  font-size: .875rem;
}

@mixin caption {
  font-size: .75rem;
  font-weight: 500;
  font-family: $body-font-family;
  color: $base-body-font-color;
}

@mixin overline {
  font-size: 0.625rem;
  font-weight: 500;
  font-family: $body-font-family;
  color: $base-body-font-color;
}

@mixin bold {
  font-weight: 700;
}

@mixin brand {
  font-family: $brand-font-family;
}