$base-title-font-color: rgba(0, 0, 0, .87);
$base-body-font-color: rgba(0, 0, 0, .77);
$title-font-family: 'Playfair Display', serif;
$body-font-family: 'Montserrat', sans-serif;
$brand-font-family: 'Charmonman', serif;