{% extends "base_admin.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <h1>
                    {% if creation == true %}
                        Ajout d'un média
                    {% else %}
                        Édition de l'image "{{ media.filename }}"
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            {% if creation != true %}
                <div class="col-4">
                    <img src="{{ vich_uploader_asset(media, 'imageFile') }}" alt="{{ media.alt }}" class="img-fluid">
                </div>
            {% endif %}

            <div class="col-{{ creation == true ? '12' : '8' }}">
                {% include "admin/media/_form.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}